.navbar {
	background-color: rgb(102 0 0);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
}
logoposition{
	display: flex;
	justify-content: flex-start;
}
.logo {
	text-decoration: none
}

.logo > img {
	height: 80px;
	width : 80px;
	object-fit: cover;
	border-radius: 50%;
}

.menu {
	

}

.link{
	text-decoration: none;
	margin: 20px;
	padding: 15px;
	color : white;
	font-size: 14px;
	font-family: arial;
	border-radius: 4px;

}

.img-carousel {
	width: 10vw;
	height: 65vh;
}
.footer{
	background-color: rgb(102 0 0);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer2{
	display: flex;
	justify-content: center;
}

.partenaires {
	display: flex; 
	height: 50px;
	width: 50px;
}

.img-height {
 	height: 30vh;
}

.img-fit {
 	object-fit: cover;
}

.class-images {
	height: 35vh;
}
.nosvos {
	display: flex;
	color: black ;
	font-family: arial;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	padding:20px;
}
.icones-reseaux {
	color:#472B26;
	font-size:35px;
	object-fit:cover;
	margin-right:10px;
	margin-top:17px;
}
